<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{.title}}</title>
        <link type="text/css" rel="stylesheet" href="{{.base_url}}css/app.css">
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
        <style type="text/css">
            .container {
                font-family: 'Raleway', sans-serif;
            }
        </style>
    </head>
    <body style="background: #eee;">
        {{include "layouts/head"}}
        <div class="container">
            <div style="padding-bottom: 50px;"></div>
            {{ template "content" .}}
        </div>
        {{include "layouts/foot"}}
        <script type="text/javascript" src="{{.base_url}}js/app.js"></script>
        <script type="text/javascript"> function serializer(e,id) { e.preventDefault(); return jQuery(id).serialize(); } function base_url(p) { return "{{ .base_url }}" + p; } </script>
        {{block "scripts" .}} {{end}}
    </body>
</html>